@font-face {
    font-family: 'Pokemon Solid';
    src: url('fonts/Pokemon-Solid.woff2') format('woff2'),
         url('fonts/Pokemon-Solid.woff') format('woff');
    font-weight: normal;
    font-style: normal;

body {
    background-image: url(https://github.com/marinsborg/who-is-that-pokemon/blob/main/background.jpg?raw=true);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    background-position: center;
    justify-content: center;
    min-height: 100vh;
  }

  #title {
    font-family: 'Pokemon Solid', sans-serif;
    color: rgb(255, 204, 0);
    -webkit-text-stroke-color: rgb(55, 93, 169);
    -webkit-text-stroke-width: 2px;
    text-shadow: 2px 2px black;
    letter-spacing: 3px;
    font-size: 20px;
  }

#streak {
    font-family: 'Pokemon Solid', sans-serif;
    color: rgb(255, 204, 0);
    -webkit-text-stroke-color: rgb(55, 93, 169);
    -webkit-text-stroke-width: 2px;
    text-shadow: 2px 2px black;
    letter-spacing: 3px;
    font-size: 20px;
}

  #pokemon-name {
    font-family: 'Pokemon Solid', sans-serif;
    color: rgb(55, 93, 169);
    -webkit-text-stroke-color: rgb(255, 204, 0);
    -webkit-text-stroke-width: 2px;
    text-shadow: 2px 2px black;
    letter-spacing: 3px;
    font-size: 20px;
  }

  #sprite {
    /* transition: initial; */
    filter: brightness(0);
    height: 250px;
    width: 250px;
    /* transform: translateX(-24vw); */
    position: absolute;
    bottom: 34%;
    left: 15%;
  }

  #guess {
    position: absolute;
    height: 40px;
    width: 300px;
    text-align: center;
    bottom: 55%;
    right: 10%;
  }
